
  pre {
      white-space: pre-wrap;       /* Since CSS 2.1 */
      white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
      white-space: -pre-wrap;      /* Opera 4-6 */
      white-space: -o-pre-wrap;    /* Opera 7 */
      word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }

  .layout-container {
    display: grid;
    grid-template-columns: 250px 1fr; // Adjust the width of the sidebar as needed
    height: 100vh; // Full viewport height
  }

  .main-content {
    position: relative;
    max-height: 100vh;
    overflow-y: auto; // Enable scrolling if content overflows
    padding: 1rem; // Padding inside the main content
    border-radius: 0.5rem; // Border radius for the main content
  }


  .dropup .dropdown-menu {
    top: auto;
    bottom: 100%; // Position the dropdown menu above the toggle
    transform: translateY(-0.125rem); // Adjust the position slightly
  }

  .image-container {
    position: relative;
    height: 550px;
    min-height: 500px;
  }


  .openai-prompt-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }

  .textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 10px;
    resize: none;
  }

  .error-message {
    color: red;
    margin-top: 5px;
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;
  }

  .submit-button, .reset-button {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }

  .submit-button {
    background-color: #007bff;
    color: white;
  }

  .reset-button {
    background-color: #6c757d;
    color: white;
  }

  .submit-button:disabled, .reset-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .result-container {
    margin-top: 20px;
    font-size: 1.1rem;
  }

